@import '../../styles/config';

.fact {
  flex: 0 0 33.333%;
}

.facts {
  display: flex;
  flex-wrap: wrap;
}

.section {
  // background: url(/images/mooning.png);

  > h1 {
    text-align: center;
  }
}
