.imageLoader {
  position: relative;

  > div {
    &:first-of-type {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 750ms;
      width: 100%;
      z-index: 0;
    }

    &:nth-of-type(2) {
      position: relative;
      z-index: 1;
    }
  }
}
