.chasingDots {
  animation: chasingDotsRotate 2s infinite linear;
  height: 40px;
  margin: 40px auto;
  position: relative;
  text-align: center;
  width: 40px;

  &.alt > .child {
    background-color: #fff !important;
  }
}

.chasingDots .child {
  animation: chasingDotsBounce 2s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 60%;
  position: absolute;
  top: 0;
  width: 60%;
}

.chasingDots .dot2 {
  animation-delay: -1s;
  bottom: 0;
  top: auto;
}

@keyframes chasingDotsRotate {
  100% { transform: rotate(360deg); }
}

@keyframes chasingDotsBounce {
  0%, 100% { transform: scale(0); }
  50% { transform: scale(1); }
}
