@import '../../styles/config';

.container {
  // background-color: rgba(0,0,0,.4);
  // color: $alternateTextColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.fundraising {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  > p {
    flex: 0 0 100%;
  }

  > div {
    flex: 1;
    margin: 1rem;
  }
}

.imageContainer {
  background-color: #8F867B;
}

.joinUs {
  .header {
    text-align: center;

    h6 {
      margin-top: 0;
    }
  }

  .positions {
    text-align: center;

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 1.7rem;
      }
    }

    .contact {
      flex: 0 0 100%;
      margin: 2rem 0;
      text-align: center;
    }
  }
}

.newsletter {
  background-color: rgba(0,0,0,.5);
  color: $alternateTextColor;
  text-align: center;
}

.workWithUs {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  > div {
    flex: 0 0 100%;
    margin: 1rem;

    &:not(:nth-of-type(3)) {
      flex: 1;
    }

    h4 {
      color: $primaryColor1;
      margin: 1rem 0;
    }

    ul {
      font-size: 1.1rem;
      list-style: none;
      padding: 0;
    }
  }

  p {
    flex: 0 0 100%;
    margin-top: 0;
  }
}
