@import '../../styles/config';

.ImageContainer {
  background-color: #8F867B;
}

.joinUs {
  height: 100vh;

  > div {
    background: linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,.2), rgba(255, 255, 255, .85));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;

    > div {
      flex: 0 0 50%;
      width: 100vw;

      &.header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        p {
          font-size: 2rem;
        }
      }

      &.cards {
        display: flex;

        > div {
          align-items: center;
          display: flex;
          flex: 1;

          &:nth-of-type(1) {
            justify-content: flex-end;

            .card {
              background-color: $primaryColor1;
            }

            .card, .content {
              color: $alternateTextColor;
            }

            .story {
              p {
                text-align: justify;
              }
            }
          }

          &:nth-of-type(2) {
            .card, .content {
              background-color: #fff;
            }

            .positions {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              margin-left: auto;
              margin-right: auto;
              max-width: 800px;
              text-align: center;

              p {
                flex: 0 0 100%;
              }

              ul {
                flex: 0 0 50%;
                list-style: none;

                li {
                  font-size: 1.3rem;
                  margin: 2rem 1rem;
                }
              }
            }
          }

          .card {
            border-radius: 1px;
            cursor: pointer;
            margin: 2rem;
            overflow: auto;
            padding: 2rem;
            text-align: center;
            transition: transform $transitionDuration;
            width: 25vw;

            h5 {
              transition: visibility 0ms ease $transitionDuration;
            }

            &:hover {
              transform: scale(1.02);
            }
          }

          .content {
            display: flex;
            height: 100vh;
            justify-content: center;
            left: 0;
            opacity: 0;
            overflow: scroll;
            position: fixed;
            top: 0;
            visibility: hidden;
            width: 100vw;

            > div {
              width: 50%;

              > div {
                margin-bottom: 5rem;
              }

              h4 {
                text-align: center;
              }

              span {
                cursor: pointer;
                right: 1.5rem;
                position: absolute;
                top: 1.5rem;
              }
            }
          }
        }

        .active {
          .card, .content {
            z-index: 4;
          }

          .card {
            transform: scale(6, 12) !important;

            h5 {
              opacity: 0;
              transition: none;
              visibility: hidden;
            }
          }

          .content {
            opacity: 1;
            transition: opacity $transitionDuration ease $transitionDuration, visibility $transitionDuration ease $transitionDuration;
            visibility: visible;
          }
        }
      }
    }
  }
}

@media (max-width: $small) {
  .card {
    margin: 0 3vw !important;
    padding: 0 !important;
    width: 100% !important;

    > h5 {
      margin: 2rem;
    }
  }

  .content > div {
    padding: 0 1.5rem;
    width: 100% !important;
  }
}
