@import '../../styles/config';

.button {
  background-color: transparentize($primaryColor1, .2);
  border: solid 2px $primaryColor1;
  border-radius: 1px;
  color: $alternateTextColor;
  cursor: pointer;
  font-family: $headerFont;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $transitionDuration;
  user-select: none;
  &:active {
    background-color: darken($primaryColor1, 10%) !important;
    border: solid 2px darken($primaryColor1, 10%) !important;
  }
  &:hover {
    background-color: $primaryColor1;
  }
}
