@import '../../styles/config';

.button {
  background-color: transparentize($accentColor1, .2);
  border: solid 2px $accentColor1;
  border-radius: 1px;
  color: $alternateTextColor;
  cursor: pointer;
  display: inline-block;
  font-family: $headerFont;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem 3rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all $transitionDuration;
  user-select: none;

  &:active {
    background-color: darken($accentColor1, 10%) !important;
    border: solid 2px darken($accentColor1, 10%) !important;
  }

  &:hover {
    background-color: $accentColor1;
  }
}

.secondary {
  color: $primaryColor1;

  &:active {
    background-color: darken($alternateTextColor, 10%) !important;
    border: solid 2px darken($alternateTextColor, 10%) !important;
  }

  &:hover {
    background-color: $alternateTextColor;
  }
}

.flat {
  background-color: transparent;
  border: solid 2px transparent;
  color: $primaryColor1;

  &.secondary {
    color: $alternateTextColor;
  }

  &:active {
    background-color: darken($accentColor1, 10%) !important;
    border: solid 2px transparent !important;
  }

  &:hover {
    background-color: $accentColor1;
    color: $alternateTextColor;
  }
}

.small {
  font-size: 1.3rem;
  letter-spacing: .05rem;
  padding: .5rem 1.5rem;
}

.nowrap {
  white-space: nowrap;
}
