@import '../../styles/config';

.fact {
  background-color: darken($primaryColor1, 10%);
  border-radius: 1px;
  height: 18rem;
  margin: .5rem;
  padding: 1rem;
  position: relative;
  text-align: center;

  > h3 {
    color: $primaryColor1;
  }

  > p {
    color: $alternateTextColor;
  }
}
