@import '../../styles/config';

.fact {
  background-color: lighten($primaryColor3, 5%);
  // border: solid 2px #efefef;
  border-radius: 1px;
  margin: 2rem;
  padding: 2rem;
  position: relative;
  text-align: center;

  > h1 {
    color: darken($primaryColor3, 10%);
    letter-spacing: .2rem;
  }

  > h5 {
    color: lighten($primaryColor3, 50%);
    text-transform: uppercase;
  }
}
