@import '../../styles/config';

.fact {
  background-color: darken(#1b5e20, 2%);
  border-radius: 1px;
  margin: 2rem;
  padding: 1rem;
  position: relative;
  text-align: center;

  > h1 {
    color: $primaryColor1;
    font-weight: 700;
    letter-spacing: .2rem;
  }

  > h5 {
    color: lighten(#1b5e20, 80%);
    letter-spacing: normal;
    text-transform: uppercase;
  }
}
