@import '../../styles/config';

.loadMore {
  flex: 0 0 100%;
  text-align: center;
}

.notFound {
  text-align: center;
}

.post {
  flex: 1 1 0%;
  margin: .5rem;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: $small) {
  .post {
    margin: .5rem 0;
  }

  .posts {
    flex-direction: column;
  }
}
