@import '../../styles/config';

.landing {
  align-items: center;
  background-color: rgba(0,0,0,.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;

  .actions, .slogan {
    flex: 1;
  }

  .actions {
    display: flex;
    justify-content: center;
    > div {
      background-color: transparentize($primaryColor2, .2);
      border: solid 2px $primaryColor2;
      border-radius: 1px;
      color: $alternateTextColor;
      cursor: pointer;
      font-family: $headerFont;
      font-size: 1.5rem;
      margin: 1rem;
      padding: 1rem 3rem;
      text-transform: uppercase;
      transition: all $transitionDuration;
      &:hover {
        background-color: $primaryColor2;
      }
    }
  }

  .scrollToFacts {
    bottom: 0px;
    position: absolute;
    left: 50%;
  }

  .slogan {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 4rem;

    > div > span {
      display: block;
      font-family: $headerFont;

      &:nth-of-type(2) {
        margin: .5rem;
        text-align: right;
        > span {
          background-color: #fff;
          color: rgba(0,0,0,.87);
          display: inline-block;
          padding: 0 2rem;
        }
      }

      &:nth-of-type(3) {
        font-size: 1.75em;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
      }

      &:nth-of-type(4) {
        text-align: center;

      }
    }
  }
}

.splash {
  background-color: #E19F6A;
  height: 100vh;
  // transform: rotateY(180deg);
  width: 100vw;
}

@media (max-width: $small) {
  .landing {
    // display: block;
    flex-direction: column;
    padding: 20vh 5vw 5vh 5vw;

    .actions {
      display: block;
      flex: none;
    }

    .scrollToFacts {
      display: none;
    }

    .slogan {
      font-size: 3.5rem;
    }
  }
}
