@import '../../styles/config';

.landing {
  background-color: rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 8rem 3rem 60px 3rem; // TODO ????
  position: relative;
  /* prevent jarring vertical resize (100vh) when url bar hides on mobile */
  transition: min-height 1000000s;

  .slogan {
    align-items: center;
    color: $alternateTextColor;
    // display: flex;
    font-family: $headerFont;
    font-size: 4rem;
    font-weight: 700;

    .message {
      flex: 1;
    }
  }
}

.splash {
  background-color: #E19F6A;
  position: relative;
}

@media (max-width: $medium) {
  .landing {
    padding: 7rem 1.5rem 3rem 1.5rem;

    .slogan {
      font-size: 3rem;

      .message {
        margin: 0 0 1rem 0;
      }
    }
  }
}
