@import '../../styles/config';

.landing {
  background-color: rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 6rem 3rem 60px 3rem; // TODO ????
  position: relative;
  /* prevent jarring vertical resize (100vh) when url bar hides on mobile */
  transition: min-height 1000000s;

  .slogan {
    align-items: center;
    color: $alternateTextColor;
    // display: flex;
    font-family: $headerFont;
    font-size: 4rem;
    font-weight: 700;

    .message {
      flex: 1;
    }
  }
}

.splash {
  background-color: #E19F6A;
}

@media (max-width: $medium) {
  .landing {
    flex-direction: column;
    padding: 9rem 1.5rem 3rem 1.5rem;
    text-align: center;

    .actions {
      display: block;
      flex: none;
    }

    .scrollToFacts {
      display: none;
    }

    .slogan {
      border: none;
      flex-direction: column;

      .message {
        margin: 0 0 2rem 0;
      }
    }
  }
}
