$bodyFont: PT Serif, serif;
$headerFont: PT Sans Narrow, Sans-Serif;
$primaryColor1: #2f8435;
$primaryColor2: #2196f3;
$accentColor1: #00c853;
$accentColor2: #2962ff;
$textColor: rgba(0, 0, 0, .92);
$alternateTextColor: #fff;
$transitionDuration: 300ms;
