/* fonts */
$bodyFont: Ubuntu, Sans-Serif;
$headerFont: PT Sans Narrow, Sans-Serif;

/* palette */
$primaryColor1: #2f8435;
$primaryColor2: #2196f3;
$accentColor1: #00c853;
$accentColor2: #2962ff;
$textColor: rgba(0, 0, 0, .92);
$alternateTextColor: #fff;

/* animations */
$transitionDuration: 300ms;

/* breakpoints */
$tiny: 350px;
$extraSmall: 500px;
$small: 800px;
$medium: 1000px;
$large: 1500px;
$extraLarge: 1920px;

/* redux-responsive */
:export {
  breakPoints: {
    tiny: $tiny;
    extraSmall: $extraSmall;
    small: $small;
    medium: $medium;
    large: $large;
    extraLarge: $extraLarge;
  }
}
