$bodyFont: PT Serif, serif;
$headerFont: PT Sans Narrow, Sans-Serif;
$primaryColor1: #007fff;
$primaryColor2: #ce1021;
$primaryColor3: #f7d618;
$textColor: rgba(0, 0, 0, .92);
$alternateTextColor: #fff;
$transitionDuration: 300ms;
