@import '../../styles/config';

.transition {
  transition: fill $transitionDuration;
}

.green {
  @extend .transition;
  fill: $primaryColor1;
}

.logo {
  width: 12rem;

  > svg {
    display: block;
  }
}

.white {
  @extend .transition;
  fill: #fff;
}
