@import '../../styles/config';

.social {
  display: flex;
  
  > a {
    align-items: center;
    border: solid 2px $primaryColor1;
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    transition: all $transitionDuration;
    width: 40px;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }

    &:hover {
      background-color: $primaryColor1;
      > svg {
        fill: #fff;
      }
    }

    > svg {
      fill: $primaryColor1;
      height: 20px;
      width: 20px;
    }
  }
}

.secondary {
  > a {
    border-color: #fff;

    &:hover {
      background-color: #fff;
      > svg {
        fill: $primaryColor1 !important;
      }
    }

    > svg {
      fill: #fff !important;
    }
  }
}
