@import '../../styles/config';

.team {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 232px);

  > div {
    align-items: center;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;

    &:nth-of-type(1) {
      > div {
        flex: 0 0 100%;
        text-align: center;
      }
    }
  }
}
