@import '../../styles/config';
/* TODO ~/github-markdown-css/github-markdown import failing during testing */
@import '../../../node_modules/github-markdown-css/github-markdown';

.header {
  margin-bottom: 2rem;

  > h4 {
    margin-bottom: .5rem;
  }

  > span:nth-of-type(2) {
    padding: 0 .5rem;
  }
}

/* github-markdown-css overrides */
.markdown-body {
  font-family: $bodyFont;
  font-size: 1.3rem;
}

.notFound {
  text-align: center;
}
