@import '../../styles/config';

.donate {
  align-items: center;
  color: $alternateTextColor;

  > div {
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    height: 100vh;

    > div {
      align-items: center;
      display: flex;
      flex: 0 0 50%;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      width: 100vw;

      h6 {
        margin-bottom: 0;
      }
    }
  }
}

.imageLoader {
  background-color: #333;
}
