@import '../../styles/config';

.donate {
  align-items: center;
  background-color: #333;
  background-image: url(/images/school-o.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $alternateTextColor;

  > div {
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    height: 100vh;

    > div {
      align-items: center;
      display: flex;
      flex: 0 0 50%;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      width: 100vw;

      &:first-of-type {
        > div > p {
          &:nth-of-type(1) {
            font-size: 2rem;
          }
          &:nth-of-type(2) {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
