@import '../../styles/config';

$longTransitionDuration: 500ms;

.panes {
  display: table;
  margin-bottom: 6rem;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 500vw;

  > div {
    color: $alternateTextColor;
    cursor: pointer;
    display: table-row;

    > div {
      display: table-cell;
      transition: background-color $transitionDuration, transform $longTransitionDuration;
      vertical-align: top;
      width: 20%;

      &:nth-of-type(1) {
        background-color: $primaryColor1;
      }

      &:nth-of-type(2) {
        background-color: lighten($primaryColor1, 5%);
        transform: translateX(-80%);

        &.active {
          transform: translateX(-100%);
        }

        &.hidden {
          transform: none;
        }
      }

      &:nth-of-type(3) {
        background-color: lighten($primaryColor1, 10%);
        transform: translateX(-160%);

        &.active {
          transform: translateX(-200%);
        }

        &.hidden {
          transform: translateX(-100%);
        }
      }

      &:nth-of-type(4) {
        background-color: lighten($primaryColor1, 15%);
        transform: translateX(-240%);

        &.active {
          transform: translateX(-300%);
        }

        &.hidden {
          transform: translateX(-200%);
        }
      }

      &:nth-of-type(5) {
        background-color: lighten($primaryColor1, 20%);
        transform: translateX(-320%);

        &.active {
          transform: translateX(-400%);
        }

        &.hidden {
          transform: translateX(-300%);
        }
      }

      &.active {
        cursor: default;
      }

      > div {
        display: flex;

        .content {
          flex: 0 0 80%;
          max-width: 80%; // IE11 work around

          > div {
            display: flex;
            justify-content: center;
            padding: 2rem;

            > div {
              margin: 0 1rem;
              max-width: 500px;

              h5 {
                margin: 2rem 0 1rem 0;
                text-align: center;
              }

              p {
                font-size: 1rem;
                text-align: justify;
              }
            }
          }
        }

        .title {
          flex: 0 0 20%;
          max-width: 20%; // IE11 work around
          padding: 2rem;
          text-align: center;
          transition: transform $transitionDuration;

          > img {
            max-width: 150px;
            margin: 2rem auto;
          }

          > span {
            background-color: $alternateTextColor;
            display: block;
            height: 1px;
            width: 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.panesWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;

  .close {
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 1rem;
    visibility: hidden;
    width: 40px;
    top: 1rem;
    z-index: 1;

    > span {
      background-color: #fff;
      height: 2px;
      position: absolute;
      top: 19px;
      width: 40px;
    }

    &.visible {
      visibility: visible;

      > span {
        transition: all $transitionDuration ease $longTransitionDuration;

        &:nth-of-type(1) {
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }

      &:hover {
        transform: rotate(360deg);
        transition: transform $longTransitionDuration;
      }
    }
  }
}

@media (min-width: $medium) {
  .panes > div > div:hover {
    &:not(.active) {
      background-color: darken($primaryColor1, 7.5%) !important;

      > div > .title {
        transform: scale(1.03);
      }
    }
  }
}

@media (max-width: $medium) {
  .panes {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div {
      display: block;

      > div {
        display: block;
        transform: none !important;
        width: 100%;

        &.active {
          transform: none !important;

          > div .content {
            display: block;
          }
        }

        &.hidden {
          transform: none !important;
        }

        > div {
          display: flex;
          flex-direction: column;

          .content {
            display: none;

            > div {
              align-items: center;
              flex-direction: column;
              padding-top: 0;
            }
          }

          .title {
            align-items: center;
            display: flex;

            > img {
              flex: 1;
              margin: 0;
              height: 8rem;
              width: 8rem;
            }

            > span {
              display: none;
            }

            h5 {
              flex: 2;
              margin: 1.5rem 0 1.5rem 1.5rem;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
