@import '../../styles/config';

.content {
  display: flex;
  flex-direction: column;
  width: 50%;

  div {
    &:first-of-type {
      h4 {
        margin-top: 0;
      }
    }
  }

  h4 {
    color: $primaryColor1;
  }

  p {
    margin: 0;
  }
}

.section {
  position: relative;
}

.transparentBackground {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: calc(50vw + 3rem);
}

@media (max-width: $small) {
  .content {
    width: 100%;
  }

  .transparentBackground {
    width: 100%;
  }
}
