@import '../../styles/config';

.titleMobile {
  display: none;
}

.donate {
  align-items: center;
  padding-bottom: 6rem;
  text-align: center;

  h6 {
    margin: 0;
  }
}

.widget {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  padding: 0 3rem;
}

.wrapper {
  background-color: #fff;
  display: flex;
  padding-top: 6rem;

  > div {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: start;

    .content {
      max-width: 500px;
    }
  }
}

.titleDesktop, .titleMobile {
  color: $primaryColor1;
  margin-top: 0;
}

@media (max-width: $small) {
  .titleDesktop {
    display: none;
  }

  .titleMobile {
    display: block;
  }

  .widget {
    padding: 0px;
  }

  .wrapper {
    flex-direction: column-reverse;
    padding-top: 1rem;
  }
}