@import '../../styles/config';

.item {
  margin: 0 2rem;
  max-width: 14rem;

  div {
    border-bottom: 1px solid $accentColor1;
    text-align: center;

    h1 {
      color: $accentColor1;
      margin: 0;
    }

    h5 {
      font-weight: 400;
      margin: 0 0 1.5rem 0;
    }
  }

  p {
    text-align: center;
  }
}

.items {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.section {
  background-color: #eee;
}

.title {
  margin-top: 0;
  text-align: center;
}

@media (max-width: $small) {
  .item {
    align-items: center;
    display: flex;
    margin: 1rem auto;
    max-width: 20rem;

    div {
      border-bottom: none;
      margin: 0 2rem;
    }

    p {
      text-align: left;
    }
  }

  .items {
    flex-direction: column;
    justify-content: center;
  }

  .section {
    background-color: inherit;
  }
}
