@import '../../styles/config';

.section {
  display: flex;
  justify-content: center;

  > div {
    flex: 1;
    max-width: 800px;

    > h1 {
      text-align: center;
    }

    .approach {
      display: flex;
      margin-bottom: 2rem;

      > div {
        flex: 1;

      }

      .details {
        align-items: center;
        display: flex;
        height: 100%;
        padding-left: 2rem;

        > p {
          margin: 0;
          text-align: justify;
        }
      }

      .sections {
        border-right: solid 5px $primaryColor1;

        > h4 {
          cursor: pointer;
          font-weight: 400;
          letter-spacing: .2rem;
          padding: 1rem;
          margin: 1rem 0 0 0;
          text-align: right;
          transition: all 150ms;

          &:first-of-type {
            margin: 0;
          }

          &.active {
            background-color: $primaryColor1 !important;
            color: $alternateTextColor !important;
          }

          &:hover {
            background-color: lighten($primaryColor1, 35%);
            color: $alternateTextColor;
          }
        }
      }
    }
  }
}
