@import '../../styles/config';

.section {
  padding: 6rem 3rem;

  > h1 {
    margin-top: 0;
    text-align: center;
  }

  .container {
    margin: auto;
    max-width: 950px;
  }
}

@media (max-width: $small) {
  .section {
    padding: 6rem 1.5rem;
  }
}
