@import '../../styles/config';

.footer {
  background-color: $primaryColor1;
  color: $alternateTextColor;
  display: flex;
  padding: 6rem 3rem;

  > div {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: .9rem;

    &:nth-child(2) {
      justify-content: flex-end;
    }
  }
}

.logo {
  display: block;
  margin-bottom: .5rem;
}
