@import '../../styles/config';

.footer {
  background-color: $primaryColor1;
  color: $alternateTextColor;
  display: flex;
  padding: 6rem 1.5rem;

  > div {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: .9rem;

    &:nth-child(2) {
      justify-content: flex-end;
    }

    span {
      display: block;
    }
  }
}

.logo {
  display: block;
  margin-bottom: .5rem;
}

@media (max-width: $small) {
  .footer {
    flex-wrap: wrap;
    overflow: auto;
    padding: 3rem 1.5rem;

    > div {
      flex: 0 0 100%;


      &:nth-child(2) {
        margin-top: 1.5rem;
        justify-content: flex-start;
      }
    }
  }
}
