@import '../../styles/config';

.blog {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;

  .content {
    max-width: 1200px;
    text-align: center;
    width: 100%;

    .title {
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
