@import '../../styles/config';

.buttons {
  background-color: rgb(220,220,220);
  min-height: 95px;
  text-align: center;
}

.header {
  background-color: rgba(0, 0, 0, .4);
  color: $alternateTextColor;
  overflow: auto;
  padding-bottom: 6rem;
  text-align: center;

  h6 {
    margin: 0;
  }
}

.imageContainer {
  background-color: #EFE9DC; // TODO update this value
}

.modal {
  display: flex;

  > div {
    &:nth-of-type(0) {
      text-align: center;
    }
  }
}

.people {
  .group {
    > h4 {
      margin-bottom: 2rem;
    }
  }

  .members {
    display: flex;
    flex-wrap: wrap;

    .member {
      flex: 0 0 33.333%;
    }
  }
}
