@import '../../styles/config';

.nav {
  background-color: #fff;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 3;

  .content {
    align-items: center;
    display: flex;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: translate(100%);
    visibility: hidden;
    width: 100vw;
    z-index: 1;

    > ul {
      list-style: none;
      margin-left: 10%;
    }
  }

  .expand {
    background-color: #fff;
    height: 45px;
    position: absolute;
    right: 0;
    transition: transform 300ms ease-out;
    width: 45px;
    z-index: 0;
  }

  .menuIconButton {
    position: relative;
    z-index: 2;
  }
}

.open {
  .content {
    opacity: 1;
    transform: none;
    transition-delay: 300ms;
    visibility: visible;

    .navItem {
      opacity: 1;
      transform: none;

      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          transition: transform 500ms ease #{250 + $i * 50}ms, opacity 500ms ease #{250 + $i * 50}ms;
        }
      }
    }
  }

  .expand {
    // TODO replace with JS to scale appropriately
    transform: rotate(45deg) scale(80);
  }
}
